body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Almarai', sans-serif;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

.hello {
  animation: App-logo-spin infinite 15s linear;
  font-size: 15em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 18rem;
}

.background-home {
  background: rgb(173, 188, 199);
  background: radial-gradient(
    circle,
    rgba(173, 188, 199, 1) 0%,
    rgba(1, 7, 41, 1) 0%,
    rgba(9, 37, 112, 1) 0%,
    rgba(8, 33, 102, 1) 18%,
    rgba(0, 0, 2, 1) 100%
  );
  width: 2000px;
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  background-position: center;
  
}


